
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');

.App{
  font-weight: 400, 500, 700;
  margin: 5vmin ;
  font-size: 18px;
  font-family: 'Rubik', sans-serif ;
  text-align: center;
  font-weight: 700;

}

.h1 {
  text-align: center;
}
.row 
.text-center {
  margin: 0;
}

.container{
  overflow: auto;
}

table 
{
  width: fit-content;
  margin-top: 15px;
  overflow-y: scroll;
  overflow: hidden;
  color: white;
  font-weight: 500;
  font-size: 18px;
    
}

thead {
  color: white;
  background-color:hsl(0, 0%, 17%) ;
}

form  .form-control{
  height: 3.5vmin;
  font-size: 18px;
}

tbody{
  color: white;
  background-color:hsl(0, 0%, 59%) ;
}

.button-groups{
  display: flex;
  justify-content: space-evenly;
}

.model-box-view{
  font-weight: 400;
  padding: 0;
}


/* mobile devices */
@media (max-width: 375px) {
  
  .App {
    max-height: 100vh;
    height: 50vh;
  }
  
  .container{
  overflow-x: auto;
}

  table{
    margin-left: 5vmin;
    width: 100%;
    font-size: 10px;
    overflow: visible;
  }

  
  .button-groups .but{
    font-size: 10px;
    justify-content: space-between;
  }

  form  .form-control{
    height: 7vmin;
    font-size: 10px;
  }

  
.model-box-view{
  font-size: 10px;
}

}
