
/*****Table Design *****/

table 
{
  overflow: hidden;
  justify-content: center;
  color: white;
  /* overflow: auto; */
  table-layout: auto !important;
    
}

thead {
  color: white;
  background-color:hsl(0, 0%, 17%) ;

}
/* 
tr 
{
  width: 100px;
} */
/* 
td
{
	border:  1px solid white;
	padding-bottom: 5px;
    min-width: 200px;
    background: #f8f9fa;
    text-align: left;
	color: black;

} */

tbody{
  color: white;
  background-color:hsl(0, 0%, 59%) ;
}

/*
td .h6
{
	color: black;
	font-size: 2px;
}

.table-container 
{
  position: relative;
  max-height:  300px;
  width: 300px;
  overflow: scroll;
} */
